@import url(assets/css/reset.css);
@import url(assets/css/vars.css);
@import url(assets/css/webfonts.css);


html {
	background-color: var(--dw-col-1);
}

body {
	color: var(--dw-col-1);
	font-family: var(--dw-ff-body);
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--dw-ff-heading);
}

.container {
	--max-width: 1440px;
	--padding: 1rem;

	width: min(var(--max-width), 100% - (var(--padding) * 2));
}

.header {
	background-color: var(--dw-col-2);
	display: grid;
	place-items: center;
	min-height: 33vh;
}