*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

:root {
    --dw-col-1: hsl(25, 60%, 90%);
    --dw-col-2: hsl(125, 20%, 45%);

    --dw-ff-body: "Inter", sans-serif;
    --dw-ff-heading: "Source Serif Pro", serif;

    --dw-size-1: 0.25rem;
    --dw-size-2: 0.5rem;
    --dw-size-3: 1rem;
    --dw-size-4: 1.5rem;
    --dw-size-5: 2rem;
    --dw-size-6: 4rem;
}

html {
    background-color: var(--dw-col-1);
}

body {
    color: var(--dw-col-1);
    font-family: var(--dw-ff-body);
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--dw-ff-heading);
}

.container {
    --max-width: 1440px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
}

.header {
    background-color: var(--dw-col-2);
    display: grid;
    place-items: center;
    min-height: 33vh;
}