@import url(reset.css);
@import url(vars.css);
@import url(webfonts.css);
@import url(utils.css);

html {
	background-color: var(--dw-clr-neutral-1);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: var(--dw-clr-neutral-2);
	color: var(--dw-clr-neutral-7);
	font-family: var(--dw-ff-body);
	font-size: var(--dw-size-3);
	line-height: var(--dw-line-height);
	font-weight: var(--dw-fw-normal);
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--dw-ff-heading);
	font-weight: var(--dw-fw-bold);
	line-height: 1.125em;
	letter-spacing: -.03em;
}

@media (min-width: 50rem) {
	:root {
		--dw-size-1: 0.75rem;
		--dw-size-2: 0.825rem;
		--dw-size-3: 1rem;
		--dw-size-4: 1.125rem;
		--dw-size-5: 1.5rem;
		--dw-size-6: 2rem;
	}
}

image-block:not(:defined),
text-block:not(:defined),
statement-block:not(:defined),
slider-block:not(:defined),
feature-block:not(:defined) {
    display: inline-block;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

img {
	width: 100%;
	max-width: 100%;
	display: inherit;
}

svg.icon,
svg.bi {
	fill: currentColor;
	height: 1.25rem;
    width: 1.25rem;
}

a:not(.btn):not([class="text-*"]) {
	color: inherit;
	display: inline-flex;
}

.site-header {
	position: sticky;
	inset: 0;
	z-index: 33;
	box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .05), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .05) !important;
}

.site-header .nav a {
	line-height: 1;
	text-decoration: none;
}

.site-header .logo {
	text-decoration: none;
	letter-spacing: -.04em;
	z-index: 2;
}

@media (max-width: 50rem) {
	
	.site-header .nav {
		display: none;
	}

	.site-header .nav[aria-expanded="true"] {
		font-size: var(--dw-size-5);
		display: flex;
		position: fixed;
		inset: 0 0 0;
		height: 100vh;
		padding: 100px var(--dw-size-4);
		width: 100vw;
		text-align: right;
		flex-direction: column;
		background-color: var(--dw-clr-neutral-1);
	}

	.site-header nav a {
		padding: var(--dw-size-4);
	}	
}

@media (min-width: 50rem) {
	.site-header .nav {
		gap: 0;
	}
	.site-header .nav a {
		padding: var(--dw-size-3);
	}
}


.spinner {
	animation: rotate 2s linear infinite;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	width: 50px;
	height: 50px;
}

login-dialog {
    display: grid;
    z-index: 9999;
    position: fixed;
    inset: 0 0 0 auto;
    height: 100vh;
    width: 100vw;
    background-color: var(--dw-clr-overlay);
}

.dialog-inner {
    margin: auto;
    padding: var(--dw-size-6);
    background: var(--dw-clr-neutral-1);
}

input[type="text"], 
input[type="password"] {
    width: 100%;
    display: block;
    border: 1px solid var(--dw-clr-neutral-4);
    padding: var(--dw-size-3) var(--dw-size-2);
    line-height: var(--dw-line-height);
    font-size: var(--dw-size-3);
}

.spinner .path {
  stroke: var(--dw-clr-neutral-7);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
  
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}